> ## Median Price by Suburb

> ### Import libraries and functions

In [55]:
import pandas as pd

> ### Rental price by suburb

In [56]:
# Get the preprocessed property data
property_df = pd.read_csv('../data/raw/preprocessed properties.csv')

In [57]:
# Define the interested combinations of property types and bedrooms
combinations = [
    ('Apartment / Unit / Flat', 1),
    ('Apartment / Unit / Flat', 2),
    ('Apartment / Unit / Flat', 3),
    ('House', 2),
    ('House', 3),
    ('House', 4)
]

median_price_df = pd.DataFrame()

# Compute median price for the above combinations by suburb
for property_type, bedrooms in combinations:

    # Filter out properties of the current combination
    filtered_df = property_df[(property_df['property type'] == property_type) 
                              & (property_df['bedrooms'] == bedrooms)]
    
    # Compute the median rental price
    median_price = filtered_df.groupby('postcode')['price (AUD per week)'].median().rename(
                                            f'median {bedrooms} bedroom {property_type}')
    median_price_df = pd.concat([median_price_df, median_price], axis=1)

In [58]:
# Compute the median rental price for all properties by suburb
median_price_all = property_df.groupby(['postcode', 'suburb'])['price (AUD per week)'].mean().rename(
                                                        'median all properties')

# Combining the median price for all properties and for the properties of interest
result_df = median_price_all.to_frame().join(median_price_df, on='postcode', how='left')
result_df.reset_index(inplace=True)

In [59]:
# Show the final df
result_df

,postcode,suburb,median all properties,median 1 bedroom Apartment / Unit / Flat,median 2 bedroom Apartment / Unit / Flat,median 3 bedroom Apartment / Unit / Flat,median 2 bedroom House,median 3 bedroom House,median 4 bedroom House
0,3000,MELBOURNE,602.659574,527.5,625.0,NaN,NaN,NaN,NaN
1,3002,EAST MELBOURNE,718.214286,475.0,740.0,NaN,625.0,800.0,NaN
2,3003,WEST MELBOURNE,673.750000,520.0,650.0,1100.0,690.0,NaN,NaN
3,3004,MELBOURNE,788.181818,550.0,752.5,1025.0,NaN,NaN,NaN
4,3006,SOUTHBANK,685.000000,540.0,700.0,1100.0,830.0,825.0,NaN
...,...,...,...,...,...,...,...,...,...
151,3936,SAFETY BEACH,700.000000,NaN,NaN,NaN,NaN,NaN,700.0
152,3939,ROSEBUD,720.000000,NaN,NaN,NaN,NaN,720.0,NaN
153,3941,RYE,650.000000,NaN,NaN,NaN,NaN,625.0,NaN
154,3941,TOOTGAROOK,600.000000,NaN,NaN,NaN,NaN,625.0,NaN
155,3978,CLYDE NORTH,600.000000,NaN,NaN,NaN,NaN,NaN,600.0

In [60]:
# Save the final df
result_df.to_csv('../data/raw/median price per postcode.csv', index=False)